<!DOCTYPE html>
<html>
  <head>
    <title>SetManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
  <h2 id="REACT_ROOT">This is my live app and stuff</h2>
  <%= yield %>
  </body>
</html>
